# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias y entorno virtual
node_modules/
venv/
__pycache__/
*.pyc

# Archivos de configuración del IDE
.vscode/
.idea/

# Archivos de configuración local
.env
.env.local 